#sidemenu{
	
	position:absolute;
	
	height: 80%;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
	z-index: 10;	
}

#sidemenu ul {
  margin: 16px 0;
  padding: 0;
  color: white;
  list-style: none;
}

#sidemenu ul li {
 
  transition: all 0.25s ease-in-out;
}

#sidemenu ul li :hover {
  color: #bdc3c7;
  cursor: pointer;
}